/* Card Header */
.card-header {
  background-color: transparent;
  border-bottom: 1px solid #e6e6f2;
}

.card-btn {
  color: $black;
  text-align: left;
  white-space: inherit;
}

.card{border:none;}

.card-footer-item { padding: 12px 35px; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; text-align: center; display: inline-block; }
.card-footer-item-bordered:not(:last-child) { border-right: 1px solid rgb(230, 230, 242); }

