/* Footer  */

.footer {
  position: absolute;
  bottom: -10px;
  border-top: 1px solid rgba(152, 166, 173, 0.2);
  padding: 14px 0px;
  color: $gray-900;
  background-color: $white;
  width: 100%;
  .footer-links {
    a {
      color: $gray-900;
      margin-left: 1.5rem;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
    }
  }
}
