/* media */

.dashboard-media-object {
    .card-footer {
        padding: 0px;
    }
}

.btn-account {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    border: 0;
    -ms-flex-wrap: none;
    flex-wrap: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    color: $gray-900;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    -webkit-transition: background-color 0.15s;
    transition: background-color 0.15s;
    outline: 0;
    .account-summary {
        margin-right: 16px;
        margin-left: 8px;
        display: block;
        text-align: left;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
    }
    .account-description {
        margin: 0;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 500;
        line-height: 16px;
        font-size: 12px;
        font-weight: 400;
        opacity: 0.7;
    }
    .account-name {
        margin: 0;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 500;
        line-height: 16px;
    }
}

.user-avatar {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}

.avatar-badge {
    position: absolute;
    right: 3px;
    bottom: 4px;
    display: block;
    width: 8px;
    height: 8px;
    line-height: 1.6;
    text-align: center;
    font-size: 8px;
    color: $white;
    background-color: $gray-400;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 0 2px #fff;
    box-shadow: 0 0 0 2px #fff;
    z-index: 2;
}

.avatar-badge.online {
    background-color: $success;
}

.avatar-badge.idle {
    background-color: $warning;
}

.avatar-badge.busy {
    background-color: $danger;
}

.avatar-badge.offline {
    color: $gray-400;
    background-color: $gray-400;
}

.avatar-badge.has-indicator {
    width: 10px;
    height: 10px;
}

.avatar-group {
    display: inline-block;
    .user-avatar {
        img {
            -webkit-box-shadow: 0 0 0 2px #fff;
            box-shadow: 0 0 0 2px #fff;
        }
        &:focus {
            z-index: 2;
        }
        &:hover {
            z-index: 2;
        }
    }
    .user-avatar+.user-avatar {
        display: inline-block;
        margin-left: -10px;
    }
}

.user-avatar-floated {
    margin-top: -50px;
    z-index: 2;
}

.metric {
    position: relative;
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    border-radius: 4px;
    cursor: default;
}

.metric-label {
    &:last-child {
        margin-top: 0px;
        margin-bottom: 0;
    }
}

.card-footer-item {
    padding: 12px 35px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    display: inline-block;
}

.card-footer-item-bordered {
    &:not(:last-child) {
        border-right: 1px solid rgb(230, 230, 242);
    }
}