/*   Left Navigation Sidebar  */
.nav-left-sidebar {
  position: fixed;
  width: 264px;
  height: 100%;
  top: 60px;
  overflow: auto;
  background-color: $white;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  -webkit-transition: all 0.3s ease;
  .nav-link[data-toggle="collapse"] {
    position: relative;
    display: flex;
    align-items: center;
    &::after {
      display: inline-block;
      width: 0;
      height: 0;
      position: absolute;
      right: 20px;
      vertical-align: 0.255em;
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
    }
    &:after {
      transition: transform 0.35s ease, opacity 0.35s ease;
      opacity: 0.5;
    }
  }
  .nav-link[data-toggle="collapse"][aria-expanded="false"] {
    &:after {
      transform: rotate(-90deg);
    }
  }
  .navbar-nav {
    width: 100%;
    .nav-link {
      font-size: 14px;
      padding: 12px;
      color: $gray-900;
      transition: 0.3s;
      &:focus {
        background-color: $gray-300;
        color: $black;
        border-radius: 2px;
        background-color: $gray-300;
        color: $black;
        border-radius: 2px;
      }
      &:hover {
        background-color: $gray-300;
        color: $black;
        border-radius: 2px;
      }
    }
    .nav-link.active {
      background-color: $gray-300;
      color: $black;
      border-radius: 2px;
    }
  }
  .navbar {
    position: relative;
    padding: 14px;
  }
  .nav-link {
    i {
      font-size: 14px;
      margin-right: 9px;
      text-align: center;
      vertical-align: middle;
      line-height: 16px;
    }
  }
  .submenu {
    padding-left: 12px;
    padding-right: 12px;
    background: transparent;
    .nav {
      .nav-item {
        .nav-link {
          font-size: 14px;
          padding: 6px 12px;
          transition: 0.3s;
          &:hover {
            color: $black;
            border-radius: 2px;
            background-color: transparent;
          }
        }
      }
    }
  }
  .nav-divider {
    padding: 10px 14px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
  }
}

.sidebar-primary {
  background-color: $black;
  .nav-divider {
    color: $gray-200;
  }
}
.sidebar-primary.nav-left-sidebar {
  .nav-link {
    i {
      color: $gray-800;
    }
  }
  .navbar-nav {
    .nav-link {
      color: $gray-800;
      &:focus {
        color: $white;
        background-color: $primary;
        border-radius: 2px;
        background-color: $primary;
        color: $white;
        border-radius: 2px;
      }
      &:hover {
        color: $white;
        background-color: $primary;
        border-radius: 2px;
      }
    }
    .nav-link.active {
      background-color: $primary;
      color: $white;
      border-radius: 2px;
    }
  }
  .submenu {
    .nav {
      .nav-item {
        .nav-link {
          &:hover {
            color: $white;
            border-radius: 2px;
            background-color: transparent;
          }
        }
      }
    }
  }
}

/* Leftsidebar - dark  */
.sidebar-dark {
  background-color: $black;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  -webkit-transition: all 0.3s ease;
}

.sidebar-dark .nav-divider {
  color: $gray-700;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 800;
}
.nav-left-sidebar {
  .nav-link {
    i {
      color: $gray-700;
    }
  }
  .navbar-nav {
    .nav-link {
      color: $gray-700;
      &:focus {
        color: $white;
        background-color: $black;
        border-radius: 2px;
        background-color: $black;
        color: $white;
        border-radius: 2px;
      }
      &:hover {
        color: $white;
        background-color: $gray-800;
        border-radius: 2px;
      }
    }
    .nav-link.active {
      background-color: $gray-800;
      color: $white;
      border-radius: 2px;
    }
    .nav-item {
      .badge {
        position: absolute;
        right: 40px;
      }
    }
  }
  .submenu {
    .nav {
      .nav-item {
        .nav-link {
          &:hover {
            color: $white;
            border-radius: 2px;
            background-color: $black;
          }
        }
      }
    }
  }
}
