/* Product  */

.product-thumbnail {
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22) !important;
    background-color: $white;
    margin-bottom: 30px;
    border-radius: .25rem;
}

.product-img {
    text-align: center;
    padding: 35px 0px;
}

.product-img-head {
    position: relative;
}

.ribbons {
    -webkit-clip-path: polygon( 10% 25%, 10% 0, 35% 0%, 65% 0%, 90% 0, 90% 25%, 90% 50%, 91% 100%, 50% 73%, 10% 100%, 10% 50%);
    clip-path: polygon(10% 25%, 10% 0, 35% 0%, 65% 0%, 90% 0, 90% 25%, 90% 50%, 91% 100%, 50% 73%, 10% 100%, 10% 50%);
    position: absolute;
    top: 0px;
    background-color: $info;
    padding: 31px 15px;
    text-align: center;
    left: 10px;
    font-family: $font-family-sans-serif;
    color: $white;
}

.ribbons-text {
    transform: rotate(90deg);
    position: absolute;
    top: 11px;
    left: 10px;
    color: $white;
}

.product-wishlist-btn {
    height: 40px;
    width: 40px;
    border: 2px solid #dfdfec;
    border-radius: 100px;
    font-size: 18px;
    line-height: 2.3;
    color: $gray-200;
    text-align: center;
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    &:hover {
        border-color: $danger;
        color: $danger;
        transition: 0.3s ease;
    }
}

.product-wishlist-btn.active {
    border-color: $danger;
    color: $danger;
    transition: 0.3s ease;
}

.product-content {
    border-top: 1px solid #e6e6f2;
    padding: 23px;
}

.product-content-head {
    position: relative;
    margin-bottom: 25px;
}

.product-title {
    font-size: 16px;
    margin-bottom: 5px;
}

.product-rating {
    font-size: 12px;
    color: $warning;
}

.product-price {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    color: $primary;
    font-family: $font-family-sans-serif;
    line-height: 1;
}

.product-del {
    font-size: 14px;
    color: $gray-300;
}

.product-sidebar {
    background-color: $white;
    border: 1px solid #e6e6f2;
    border-radius: .25rem;
}

.product-sidebar-widget {
    border-bottom: 1px solid #e6e6f2;
    padding: 10px 20px;
    margin-bottom: 10px;
    &:last-child {
        border: 0px;
    }
    .custom-control {
        min-height: 1.7rem;
    }
}

.product-sidebar-widget-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.custom-color-red.custom-radio {
    .custom-control-input {
        &:checked &~.custom-control-label {
            &::before {
                background-color: $danger;
                border-color: $danger;
            }
        }
    }
}

.custom-color-blue.custom-radio {
    .custom-control-input {
        &:checked &~.custom-control-label {
            &::before {
                background-color: $primary;
                border-color: $primary;
            }
        }
    }
}

.custom-color-yellow.custom-radio {
    .custom-control-input {
        &:checked &~.custom-control-label {
            &::before {
                background-color: $warning;
                border-color: $warning;
            }
        }
    }
}

.custom-color-black.custom-radio {
    .custom-control-input {
        &:checked &~.custom-control-label {
            &::before {
                background-color: $black;
                border-color: $black;
            }
        }
    }
}

.product-slider {
    background-color: $white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 110px;
}

.product-carousel {
    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: -80px;
        left: 0;
        z-index: 15;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
        li {
            position: relative;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            width: 10px;
            height: 10px;
            margin-right: 3px;
            margin-left: 3px;
            text-indent: -999px;
            background-color: rgb(224, 224, 231);
            border-radius: 100%;
        }
        li.active {
            background-color: $primary;
        }
    }
    .carousel-control-next {
        display: none;
    }
}

.carousel-control-prev {
    display: none;
}

.product-details {
    background-color: $white;
    padding: 30px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
}

.product-colors {
    padding-bottom: 10px;
    margin-bottom: 10px;
    input[type="checkbox"] {
        box-sizing: border-box;
        padding: 0;
        display: none;
    }
    label {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 1.6s;
        animation-name: dot-anim;
        &:before {
            content: "\f00c";
            position: absolute;
            font-family: $font-fontawesome;
            font-weight: 900;
            padding: 0px;
            margin: 4px 8px;
            color: $white;
            font-size: 14px;
        }
    }
    .radio {
        &:checked {
            &+label {
                animation-play-state: paused;
                &:after {
                    background: transparent;
                    transition: all 0.5s;
                    transform: scale(1);
                }
            }
        }
    }
}

.product-size {
    padding-bottom: 14px;
    margin-bottom: 10px;
    position: relative;
}

input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    display: none;
}

#radio-1 {
    &+label {
        left: -60vw;
        background: #0a3c93;
        animation-delay: 0s;
        &:before {
            transform: scale(0);
        }
    }
    &:checked {
        &+label {
            &:before {
                transform: scale(1);
                transition: all 0.4s;
            }
        }
    }
}

#radio-2 {
    &+label {
        left: -60vw;
        background: #ffdc40;
        animation-delay: 0s;
        &:before {
            transform: scale(0);
        }
    }
    &:checked {
        &+label {
            &:before {
                transform: scale(1);
                transition: all 0.4s;
            }
        }
    }
}

#radio-3 {
    &+label {
        left: -60vw;
        background: #a00000;
        animation-delay: 0s;
        &:before {
            transform: scale(0);
        }
    }
    &:checked {
        &+label {
            &:before {
                transform: scale(1);
                transition: all 0.4s;
            }
        }
    }
}

.product-qty {
    position: absolute;
    right: 0;
    top: 0px;
    input[type="number"] {
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        -moz-appearance: textfield;
    }
}

.quantity {
    position: relative;
    input {
        width: 65px;
        height: 41px;
        line-height: 1.65;
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        padding-left: 20px;
        border: 1px solid #eee;
        &:focus {
            outline: 0;
        }
    }
}

.quantity-nav {
    float: left;
    position: relative;
    height: 39px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #e6e6f2;
    width: 20px;
    text-align: center;
    color: $black;
    font-size: 13px;
    line-height: 1.6;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: $gray-300;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #e6e6f2;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}