/* Top Header */

@keyframes beatHeart {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}

.dashboard-header {
  .navbar {
    padding: 0px 10px 0px 0px;
    border-bottom: 1px solid #e6e6f2;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    -webkit-transition: all 0.3s ease;
    .navbar-brand {
      display: inline-block;
      margin-right: 1rem;
      line-height: inherit;
      white-space: nowrap;
      padding: 11px 20px;
    }
    .navbar-right-top {
      .nav-item {
        border-right: 1px solid #e6e6f2;
        &:last-child {
          border: none;
        }
        .nav-link {
          padding: 13px 20px;
          font-size: 16px;
          line-height: 2;
          color: $gray-700;
        }
      }
    }
    .top-search-bar {
      padding-top: 10px;
      padding-right: 12px;
    }
    .notification-dropdown {
      min-width: 320px;
      padding: 0px;
      margin: 0px;
    }
    .connection-dropdown {
      padding: 0px;
      margin: 0px;
    }
    .nav-user-dropdown {
      padding: 0px;
      margin: 0px;
      padding: 0px;
      min-width: 230px;
      margin: 0px;
      .dropdown-item {
        display: block;
        width: 100%;
        padding: 12px 22px 15px;
        clear: both;
        font-weight: 400;
        color: $gray-600;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        font-size: 13px;
        line-height: 0.4;
        &:hover {
          background-color: $gray-100;
        }
      }
    }
    .notification-title {
      font-size: 14px;
      color: $black;
      text-align: center;
      padding: 8px 0px;
      border-bottom: 1px solid #e3e3e3;
      line-height: 1.5;
      background-color: $gray-100;
    }
    .notification-list {
      .list-group-item {
        border-radius: 0px;
        padding: 12px;
        margin-top: -1px;
        border-left: transparent;
        border-right: transparent;
      }
      .list-group-item.active {
        z-index: 2;
        color: $black;
        background-color: $gray-100;
        border-color: $gray-200;
      }
      .list-group-item-action {
        &:focus {
          color: $gray-500;
          text-decoration: none;
          background-color: $gray-100;
        }
        &:hover {
          color: $gray-500;
          text-decoration: none;
          background-color: $gray-100;
        }
      }
    }
    .notification-info {
      .notification-date {
        display: block;
        font-size: 11px;
        margin-top: 4px;
        text-transform: uppercase;
        color: $gray-900;
      }
    }
    .notification {
      .dropdown-toggle {
        &::after {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 0.255em;
          vertical-align: 0.255em;
          content: "";
          border: none;
        }
      }
      .connection {
        .dropdown-toggle {
          &::after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border: none;
          }
        }
      }
      .nav-user {
        .dropdown-toggle {
          &::after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border: none;
          }
        }
      }
      .notification-list-user-img {
        float: left;
      }
      .notification-list-user-block {
        padding-left: 50px;
        font-size: 14px;
        line-height: 21px;
      }
      .notification-list-user-name {
        color: $primary;
        font-size: 14px;
        margin-right: 8px;
      }
      .list-footer {
        font-size: 14px;
        color: $white;
        text-align: center;
        padding: 10px 0px;
        line-height: 1.5;
        font-weight: 700;
        background-color: $primary;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        a {
          color: $white;
          &:hover {
            color: $white;
          }
        }
      }

      .indicator {
        content: "";
        position: absolute;
        top: 16px;
        right: 23px;
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background-color: $danger;
        animation: 0.9s infinite beatHeart;
        transform-origin: center;
      }
    }
    .connection-list {
      width: 300px;
      padding: 20px;
    }
    .connection-item {
      border-radius: 3px;
      line-height: 32px;
      text-align: center;
      padding: 12px 7px 4px;
      display: block;
      border: 1px solid transparent;
      color: $black;
      font-size: 12px;
      img {
        width: 32px;
      }
      &:hover {
        background-color: $white;
        border: 1px solid #e6e6f2;
      }
      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .connection-footer {
      font-size: 14px;
      color: $white;
      text-align: center;
      padding: 10px 0px;
      line-height: 1.5;
      font-weight: 700;
      background-color: $primary;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      a {
        color: $white;
        &:hover {
          color: $white;
        }
      }
    }
    .nav-user-info {
      background-color: $primary;
      line-height: 1.4;
      padding: 12px;
      color: $white;
      font-size: 13px;
      border-radius: 2px 2px 0 0;
      .status {
        float: left;
        top: 7px;
        left: 0px;
      }
    }
  }
}
